<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.wifiresourcesoverlay.mt6893">

    <application android:hasCode="false" />
    <overlay android:targetPackage="com.android.wifi.resources"
                   android:isStatic="true"
                   android:priority="0"/>
</manifest>
