allow untrusted_app unlabeled:filesystem { getattr };
allow untrusted_app userdebug_or_eng_prop:file { read getattr open };
allow untrusted_app usb_uvc_enabled_prop:file { read getattr open };
